<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLNjnGgwae7w4FDt5J_SNUzimaMyBzCdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>900118851677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodservice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodservice-5bb53</string>
	<key>STORAGE_BUCKET</key>
	<string>foodservice-5bb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900118851677:ios:ba66898e861d52fe3f9db4</string>
</dict>
</plist>